language: python
python:
  - "2.7"
  - "3.6"
# command to install dependencies
install:
  - pip install -e .
# command to run tests
script:
  - python tests/test.py # or py.test for Python versions 3.5 and below